@import "./settings.scss";
@import "./general.scss";

.nav-header {
  width: 100%;
  height: 8rem;

  background-image: $gradient-blue;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  padding: 30px;
  @media (max-width: 795px) {
    padding: 10px;
  }

  .logo {
    background-image: url("../images/nehigalogo.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-right: 40px;
    @media (max-width: 795px) {
      margin-right: 0;
      width: 60px;
      height: 60px;
    }
    @media (max-width: 450px) {
      width: 40px;
      height: 40px;
    }
  }
  .headline {
    color: $white-text;
    font-size: 50px;
    @media (max-width: 795px) {
      font-size: 30px;
    }
    @media (max-width: 450px) {
      font-size: 20px;
    }
  }
  .menu-btn {
    color: white;
    font-size: 40px;
    min-width: 70px;
    padding: 10px;
    &:hover {
      font-size: 37px;
    }

    @media (max-width: 795px) {
      font-size: 30px;
      min-width: 0;
      &:hover {
        font-size: 30px;
      }
    }
    @media (max-width: 450px) {
      font-size: 25px;
      min-width: 0;
      &:hover {
        font-size: 25px;
      }
    }
  }
}

.sideMenu {
  .side-menu-container {
    padding: 8px;
    border: solid 1px $mid-blue-op-50;
    border-radius: 8px;
    width: 95%;
    height: 95%;
    margin: auto;
  }
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: $box-shadow-1;
  width: 80%;
  max-width: 400px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  color: $mid-blue;
  .header {
    position: relative;
    width: 100%;
    height: 3rem;
  }
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;

    * {
      padding: 10px;
      margin: 5px;
    }
    button {
      background-color: $mid-blue;
      color: white;
      border: 1px transparent solid;
      border-radius: 8px;
      width: 100%;
      &:hover {
        background-color: white;
        color: $mid-blue;
        border: solid 1px $mid-blue;
      }
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
  }
}

.sideMenu-hide {
  @extend .sideMenu;
  left: -400px;
}
