.lesson-headline {
  color: $main-blue;
  margin-bottom: 10px;
}
.question,
.answerOption {
  width: 100%;
  padding: 10px;
  text-align: center;
}

.question {
  color: $white-text;
  background-color: $mid-blue;
  height: 4rem;
  line-height: 2rem;
  align-content: center;
}
.question-headline {
  @extend .question;
  background: none;
  border: 1px solid $mid-blue;
  color: $mid-blue;
  height: 3rem;
  line-height: 1rem;
}
.answerOption {
  background-color: white;
  color: $grey-text;
  &:hover {
    background-color: $light-blue;
    color: $white-text;
  }
}

.correct-answer-bg {
  @extend .answerOption;
  background-color: $correct-answer-bg;
}
.dis-correct-answer-bg {
  @extend .answerOption;
  background-color: $dis-correct-answer;
}

.well-done {
  padding: 80px;
  box-shadow: $box-shadow-1;
  .title {
    font-size: 100px;
    font-weight: 700;
    @media (max-width: 795px) {
      font-size: 40px;
    }
  }
  .sub-title {
    font-size: 20px;
    font-weight: 500;
    @media (max-width: 795px) {
      font-size: 15px;
    }
  }
  height: 20rem;
  text-align: center;
  direction: rtl;
  color: $mid-blue;
}

.modal-bg {
  background-color: rgba(17, 17, 16, 0.456);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  //padding: 20px;
  background-color: $mid-blue;
  color: $white-text;

  min-width: 290px;
  min-height: 200px;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  button {
    background-color: $main-green;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 20px;
    color: $white-text;
    border: none;
    &:hover {
      background-color: white;
      color: $main-green;
    }
    &:active {
      padding: 7px 16px;
    }
  }
}
